h1 {
  text-align: center;
}
#task-list {
  width: 500px;
  margin: 60px auto;
}
form, .task {
  border: 1px solid grey;
  padding: 10px 20px;
  margin-bottom: 10px;
}
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
form input {
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}
.task {
  display: flex;
  flex-direction: column;
}
button {
  font-size: 16px;
  background-color: black;
  color: #fff;
  border-radius: 8px;
  border: none;
  width: 50%;
  margin-top: 5px;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}
button:hover {
  background-color: yellow;
  color: black;
}
button:active {
  background-color: yellow;
  color: black;
}
input[type='text'] { font-size: 20px; font-family: monospace; }
.todo input[type="checkbox"] {
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}
.task-text input {
  padding: 4px;
}
.task-text {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
